.action-icon {
  position: absolute;
  right: 1.25rem;
  top: 5rem;

  .icon {
    text-decoration: none;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #f5a623;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
}
